#ctproc  uncoment if doing data prep on raw ct documents
#https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_md-0.4.0.tar.gz  uncomment if using ctproc
#pyserini==0.12.0       uncomment if using ctproc with indexes (not recommended)
#git+https://github.com/semajyllek/transformers.git@add-biogpt-sequenceclassifier
#sacremoses uncomment if using biogpt
sentence-transformers
huggingface_hub
scikit-learn
transformers
onnxruntime
nn_pruning
optimum

matplotlib
accelerate
datasets
evaluate
pandas
openai
lxml

gradio